entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /dynamic
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: andreas.dahm@gmail.com
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
