http:
  routers:
    nextcloud-http:
      rule: "Host(`cloud.andreas-dahm.eu`)"
      entryPoints: ["web"]
      middlewares: ["redirect-to-https"]
      service: "noop@internal"

    nextcloud:
      rule: "Host(`cloud.andreas-dahm.eu`)"
      entryPoints: ["websecure"]
      tls:
        certResolver: letsencrypt
      service: nextcloud-svc
      middlewares:
        - nextcloud-headers

  services:
    nextcloud-svc:
      loadBalancer:
        serversTransport: nextcloud-transport
        servers:
          - url: "https://100.127.41.73:443"

  serversTransports:
    nextcloud-transport:
      insecureSkipVerify: true

  middlewares:
    nextcloud-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
